.span12
  - if @issues.count < 1
    .alert.alert-warning
      .center
        No open pull requests

  %dl
    - @issues.each do |issue|
      %div{ class: 'alert alert-info' }
        %dt= issue['title']
        %dd
          = issue['repository']['full_name']
          = issue['assignee']
        %form{ action: "/orgs/#{params[:org]}/#{issue['repository']['name']}/#{issue['number']}/assign/#{issue['merger']}", method: 'post' }
          %button{ class: "btn" }
            Let
            = issue['merger']
            merge!
