.span10.box
  %a{ href: '/' }
    %img{ src: '/images/shared/octocats.png' }
  %dl
    - @issues.each do |issue|
      %div{ class: 'alert alert-info' }
        %dt= issue['title']
        %dd
          = issue['repository']['full_name']
        %form{ action: "/orgs/#{params[:org]}/#{issue['repository']['name']}/#{issue['number']}/assign/#{issue['merger']}", method: 'post' }
          %button{ class: "btn" }
            Let
            = issue['merger']
            merge!
  %small
    © Absolventa GmbH 2013-2014
